h1 {
    font-family: forma-djr-display, sans-serif;
    font-size: var(--desktop---headings---heading-1);
    margin: 0;
}

h2 {
    font-family: forma-djr-display, sans-serif;
    font-size: var(--desktop---headings---heading-2);
    margin: 0;
    margin-bottom: 1.5rem;
}

h3 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    font-size: var(--desktop---headings---heading-3);
    margin: 0
}

h4 {
    font-family: forma-djr-display, sans-serif;
    font-size: var(--desktop---headings---heading-4);
    margin: 0;

}

p {
    font-family: acumin-pro, sans-serif;
    font-size: var(--desktop---body---body);
    margin: 0;
}

a {
    font-family: acumin-pro, sans-serif;
    text-decoration: none;
    color: #000;
}

li {
    font-family: acumin-pro, sans-serif;
    font-size: var(--desktop---body---body);
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

ul {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.color__line {
    width: 210rem;
    height: 7.625rem;
    background: var(--accents---jaune-bandes);
    transform: rotate(6.750deg);
    background-size: 200% 200%;
    z-index: 2;
    position: absolute;
    right: -150px;
    
}

.color__line2 {
    width: 220rem;
    height: 13rem;
    background: var(--accents---jaune-bandes);;
    background-size: 200% 200%;
    transform: rotate(-10deg);
    z-index: 2;
    position: absolute;
    right: -150px;
}

.noshow {
    display: none;
}

.content {
    width: 1000px;
    margin: auto;
    padding: 0 3rem;
}

.page_title {
    margin-top: 3.13rem;
    margin-bottom: 3.13rem;
}

.link__underline {
    text-decoration: underline;
}