h1 {
    font-family: forma-djr-display, sans-serif;
    font-size: var(--heading-1);
    margin: 0;
}

h2 {
    font-family: forma-djr-display, sans-serif;
    font-size: var(--heading-2);
    margin: 0;
}

h3 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    font-size: var(--heading-3);
}

p {
    font-family: acumin-pro, sans-serif;
    font-size: var(--paragraph);
    margin: 0;
}

a {
    font-family: acumin-pro, sans-serif;
    text-decoration: none;
    color: #000;
}

li {
    font-family: acumin-pro, sans-serif;
    font-size: var(--paragraph);
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    padding-top: 3.7rem;
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.color__line {
    width: 210rem;
    height: 7.625rem;
    background: var(--jaune-bandes);
    transform: rotate(6.750deg);
    background-size: 200% 200%;
    z-index: 2;
    position: absolute;
    right: -150px;
    
}

.color__line2 {
    width: 220rem;
    height: 13rem;
    background: var(--jaune-bandes);;
    background-size: 200% 200%;
    transform: rotate(-10deg);
    z-index: 2;
    position: absolute;
    right: -150px;
}

#line1 {
    top: 52rem;
}

#line2 {
    top: 82rem;
}

#line3 {
    top: 150rem;
}

#line4 {
    top: 160rem;
}

.noshow {
    display: none;
}