:root {
    /* Color styles */
     --gris: rgba(249, 249, 249, 1);
    --rouge-accent: rgba(161, 0, 0, 1);
    --orange-accent: rgba(255, 138, 0, 1);
    --jaune-accent: rgba(255, 229, 0, 1);
    --jaune-bandes: rgba(242, 205, 12, 1);
    
    /* Font styles */
    --heading-2: 48px;
    --heading-1: 72px;
    --paragraph: 22px;
    --heading-3: 24px;

    /* animations */
    --open-shadow: open 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    --gradient-anim: gradient 80s ease infinite;
    --scroll: scroll 40s linear infinite;
    --enter: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    /* ombre portée */
    --shadow: 0px 10px 41.8px 0px rgba(0, 0, 0, 0.25);
    --radius: 1.9375rem;
}

@keyframes open {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: var(--shadow);
    }
}


@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}