:root {
    /* Color styles */
     --gris: rgba(249, 249, 249, 1);
    --rouge-accent: rgba(161, 0, 0, 1);
    --orange-accent: rgba(255, 138, 0, 1);
    --jaune-accent: rgba(255, 229, 0, 1);
    --jaune-bandes: rgba(242, 205, 12, 1);
    
    /* Font styles */
    --heading-2: 48px;
    --heading-1: 72px;
    --paragraph: 22px;
    --heading-3: 24px;

    /* animations */
    --open-shadow: open 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    --gradient-anim: gradient 80s ease infinite;
    --scroll: scroll 20s linear infinite;
    --enter-left: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    /* ombre portée */
    --shadow: 0px 10px 41.8px 0px rgba(0, 0, 0, 0.25);
    --radius: 1.9375rem;
}

@keyframes open {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: var(--shadow);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}