.info__bento {
    display: grid;
    grid-auto-columns: 4fr;
    gap: 0.94rem;
    
}

.info__bento > ul > li {
    background-color: var(--gris);
    border-radius: var(--radius);
    display: grid;
    box-shadow: var(--shadow);
    grid-auto-columns: 1fr 3fr;
}

.info__bento > ul > li > section {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.info__bento > ul {
    display: flex;
    gap: 0.94rem;
}

.info__bento >ul:first-child >li:first-child {
    overflow: hidden;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.info__bento > ul:first-child > li:first-child > div > ul {
    display: flex;
    flex-direction: row;
    gap: 0.69rem;
    overflow: hidden;
    position: relative;
    right: 0.6rem;
    padding: 1.8rem 0 3rem 0;
    width: 27rem;
}

.info__bento>ul:first-child>li:first-child>div>ul>li {
    background-color: var(--gris);
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 1rem;
}

.info__bento > ul:first-child > li:last-child {
    display: flex;
    flex-direction: row;
}

.info__bento>ul:first-child>li:last-child>section {
    width: 100%;
}

.info__bento>ul:first-child>li:last-child>div {
    padding: 0rem 1.5rem 0 1.5rem;
    display: flex;
    align-items: center;
}

.features_bento__grid {
    display: grid;  
    grid-template-rows: 1fr 1fr;
    gap: 0.94rem;
}

.features_bento__grid > ul {
    display: flex;
    gap: 0.94rem;
    justify-content: center;
}

.features_bento__grid > ul > li {
    border-radius: var(--radius);
    display: grid;
    box-shadow: var(--shadow);
    grid-auto-columns: 1fr 3fr;
    padding: 9rem 0rem;
}

#bento_1 {
    background: url(/public/images/grid1.webp) no-repeat center center;
    width: 16.1875rem;
    height: auto;
}

#bento_2 {
    background: url(/public/images/grid2.webp) no-repeat center center;
    width: 31.9375rem;
    height: auto;
}

#bento_3 {
    background: url(/public/images/grid3.webp) no-repeat center center;
    width: 12.5rem;
    height: auto;
}

#bento_4 {
    background: url(/public/images/grid4.webp) no-repeat center center;
    width: 13.1875rem;
    height: auto;
}

#bento_5 {
    background: url(/public/images/grid5.webp) no-repeat center center;
    width: 23.5rem;
    height: auto;
}

#bento_6 {
    background: url(/public/images/grid6.webp) no-repeat center center;
    width: 23.9375rem;
    height: auto;
}