.sub__button {
    text-decoration: none;
    color: #fff;
    background-color: #4770FF;
    padding: 0.4375rem 2.3125rem;
    border-radius: 0.9375rem;
    box-shadow: 4px 4px 5px 1px rgba(71, 112, 255, 0.25);
    transition: 0.25s;
}

.sub__button:hover {
    transition: 0.25s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}