header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem 1.375rem;
    position: sticky;
}

header a {
    text-decoration: none;
    color: #fff;
    
}

.header__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__left nav {
    display: flex;
    gap: 1.25rem;
}

.header__right {
    display: flex;
    gap: 1.25rem;
}