

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__left {
    /* calculer la taille de hero__left pour qu'il prenne la moitié de hero__content */
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero__left h1 {
    background: #F9F9F9;
    border-radius: var(--radius);
    padding: 1.8125rem 3.4375rem;
    box-shadow: var(--shadow);
    display: flex;
    width: 21rem;
}

.hero__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.hero__bottom img {
    width: 40px;
    height: auto;
}