.slider {
    display: flex;
    transform: rotate(-4.5deg);
    z-index: 3;
    position: absolute;
    left: -120px; 
    width: 100vw;
    background-color: #1E1E1E;
    padding: 1rem 10rem;
    flex-direction: column;
    color: #fff;
    bottom: 0;
}

.slider_parent {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100vw;
    
}

.slider_child {
    display: flex;
    flex-direction: column;
    width: 23rem;
    gap: 0.6rem;
    
}

.slider_child h3 {
    margin: 0;
}

.slider_child > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider_child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_child > section > div {
    display: flex;
    gap: 1rem;
}

.slider_child span {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: forma-djr-display, sans-serif;
}

.slider_child i {
    font-size: 1.5rem;
}

.slider > section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slider > section i {
    font-size: 2.5rem;
}