.home {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-top: 3.7rem;
}

.info__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: end;
}

.sourcesicons > * {
    transition: 0.3s ease-in-out;
}

.sourcesicons > *:hover {
    /* monte chaque élément de quelques px */
    transform: translateY(-0.3rem);
    transition: 0.3s ease-in-out;
}

.animate__scroll {
    animation: var(--enter);
}

.secondhero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(/public/images/hero.webp), lightgray 50% / cover no-repeat;
    padding: 12rem 12rem;
}

.secondhero p {
    color: #fff;
}

#footerhome {
    margin-top: 0;
}

#home_line1 {
    top: 52rem;
}

#home_line2 {
    top: 82rem;
}

#home_line3 {
    top: 150rem;
}

#home_line4 {
    top: 165rem;
}