.home {
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-top: 3.7rem;
}

#moreinfo {
    display: grid;
    gap: 3rem;
    padding: 0 3rem 0 3rem;
}

.hero__contentsources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sourcesicons {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    
}

.hero__contentsources i {
    font-size: 5rem;
}

.sourcesicons > * {
    transition: 0.3s ease-in-out;
}

.sourcesicons > *:hover {
    /* monte chaque élément de quelques px */
    transform: translateY(-0.3rem);
    transition: 0.3s ease-in-out;
}

.animate__scroll {
    animation: var(--enter);
}

.secondhero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(/public/images/hero.webp), lightgray 50% / cover no-repeat;
    padding: 12rem 12rem;
}

.secondhero p {
    color: #fff;
}

#footerhome {
    margin-top: 0;
}